
.register {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 40%;
    width: 400px;
    box-shadow: 5px 10px 10px rgba(rgba(2, 128, 144, 1), 0.2);
    
    &::before, &::after {
      content: '';
      position: absolute;
      width: 600px;
      height: 600px;
      border-top-left-radius: 40%;
      border-top-right-radius: 45%;
      border-bottom-left-radius: 35%;
      border-bottom-right-radius: 40%;
      z-index: -1;
    }
    
    &::before {
      left: 40%;
      bottom: -130%;
      background-color: rgba(rgba(69, 105, 144, 1), 0.15);
    }
    
    &::after {
      left: 35%;
      bottom: -125%;
      background-color: rgba(rgba(2, 128, 144, 1), 0.2);
    }
    
    > input {
      font-family:'Asap', sans-serif;
      display: block;
      border-radius: 5px;
      font-size: 16px;
      background: white;
      width: 100%;
      border: 0;
      padding: 10px 10px;
      margin: 15px -10px;
    }
    
    > button {
      font-family:'Asap', sans-serif;
      cursor: pointer;
      font-size: 16px;
      text-transform: uppercase;
      width: 100px;
      border: 0;
      padding: 10px 0;
      margin-top: 10px;
      border-radius: 5px;
      
    }
  }
  