<div class="container">
    <main>
        <div class="card bg-light business-card">
            <h2 class="card-title">Nazwa Biura</h2>
            <p class="card-text">Dane kontaktowe: biurotutystyczne&#64;gmail.com | Tel: 123-456-789</p>
            <p class="card-text">Adres: Smok Wawelski, Kraków</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1919.1501805774872!2d19.931577543493816!3d50.05336208739317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b6deacd4c89%3A0x899762cc99c87d68!2sSmok%20Wawelski!5e0!3m2!1spl!2spl!4v1703882819996!5m2!1spl!2spl"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </main>
</div>
